.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u263-4
{
	font-family: lobster-n4, serif;
}

#u287-4,#u290-5,#u284-4,#u281-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u288-4,#u291-4,#u285-4,#u282-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u265-4,#u485-4,#u493-4,#u501-4,#u509-5
{
	font-family: bebas-neue-n4, sans-serif;
}

